<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MyController" class="my-controller">

<head>
<!-- meta og -->	
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:url" content="http://alpresidente.pizzaprezzi.it/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Pizzeria Al Presidente - PizzaPrezzi" />
<meta property="og:description" content="Menu Pizzeria Al Presidente" />
<!--
<meta property="og:image" content="https://raw.githubusercontent.com/infocitta/infocitta.github.io/master/logo.png" />
-->
<meta name="keywords" content="menu, pizzeria, pizzaprezzi Al Presidente, desio" />
<meta name="description" content="Sito con il menu della pizzeria Al Presidente" />
<meta property="fb:app_id" content="591996370950973" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--
<link rel="shortcut icon" href="../../logo_notext.png" type="image/png" />
<link rel="icon" href="../../logo_notext.png" type="image/png" />
-->
<!-- riferimenti remoti -->
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- cookie -->
<script type="text/javascript" src="//cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js"></script>
<!-- angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.7/angular-locale_it-it.js"></script>

<script src="https://use.fontawesome.com/99ef16724b.js"></script>

<link rel="stylesheet" href="style.css" />
<script src="app.js"></script>
<script src="dirPagination.js"></script>
<title>{{ entity.Name }} - PizzaPrezzi</title>  
</head>

<body>
    <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.5&appId=591996370950973";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">

<!-- menu -->
<nav class="navbar navbar-inverse noprint">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="//pizzaprezzi.it">PizzaPrezzi</a>
		</div>
	<ul class="nav navbar-nav">
		<li class="active"><a href=".">{{ entity.Name }}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<form style="padding-top: 13px;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="C3JEBSSYR4GBQ">
			<input type="image" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online.">
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
			</form>                       
	</ul>
	</div>
</nav>
<!-- fine menu -->
<div class="page-header" style="margin-top: 5px;margin-bottom: 5px;">
	
	
	<h2>{{ entity.Name }}</h2>
	<div class="fb-like noprint" data-href="http://alpresidente.pizzaprezzi.it/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	
	<p>{{ entity.Address }}</p>
	<div class="list-group">
	  <a href="tel:{{ c.Value }}" ng-repeat="c in entity.Contact" class="list-group-item"><h5><i class="fa fa-phone" aria-hidden="true"></i> Chiama {{ c.Value }}</h4></a>
	</div>	
	<div class="list-group noprint" >
	  <a href="{{ entity.Website }}" class="list-group-item"><h5><i class="fa fa-external-link" aria-hidden="true"></i> Sito Web</h4></a>
	  <a href="https://maps.google.it/maps?q={{entity.Latitude}},{{entity.Longitude}}" class="list-group-item"><h5><i class="fa fa-map-o" aria-hidden="true"></i> Mappa</h4></a>
	</div>	

	<button type="button" class="btn btn-info noprint" data-toggle="modal" data-target="#myMenu">Visualizza Depliant</button>
</div>
</div>
<div class="container">
<ul class="nav nav-tabs noprint">
	<li ng-repeat="c in entity.Categories" ng-class="{'active':c.Alias === entity.Categories[0].Alias}"><a data-toggle="tab" href="#{{ c.Alias }}">{{ c.Name }}</a></li>
	<li><a data-toggle="tab" href="#cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Preventivo {{ getTotal()|currency }}</a></li>
</ul>

<div class="tab-content">
	<div id="{{ c.Alias }}" class="tab-pane fade"  ng-repeat="c in entity.Categories" ng-class="{'in active':c.Alias === entity.Categories[0].Alias}">
		<h3>{{ c.Name }}</h3>
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th></th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in c.Entities">
					<td><button  ng-repeat="pr in p.Prices" class="btn btn-success" ng-click="addItem(p,pr)"><i class="fa fa-cart-plus" aria-hidden="true"></i> {{c.Prices[$index].Value }} {{pr.Value|currency}}</button></td>
					<td><b>{{ p.Name }}</b><p><small><span ng-repeat="i in p.Items">{{ i.Value }}, </span></small></p></td>
				</tr>
			</tbody>    
		</table>
	</div>
	<div id="cart" class="tab-pane fade">
		<h3>Preventivo</h3>
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th class="noprint"></th>
					<th>Nome</th>
					<th>Prezzo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in cart  | orderBy:'Name'">
					<td class="noprint"><button class="btn btn-danger" ng-click="removeItem(c)"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button></td>
					<td>{{ c.Name }}</td>
					<td align="right">{{ c.Price | currency  }}</td>
				</tr>
			</tbody>    
			<thead>
				<tr>
					<th class="noprint"></th>
					<th>Totale</th>
					<td align="right"><b>{{ getTotal()| currency }}</b></td>
				</tr>
			</thead>			
		</table>
		<a class="btn btn-success noprint pull-right" href="javascript:window.print()">Stampa preventivo</a> <br />
	</div>	
</div>
</div>
<div id="myMenu" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Depliant</h4>
      </div>
      <div class="modal-body">
      	
<div class="carousel" id="slider">
    <div class="carousel-inner">
        <div class="item" ng-class="{active:!$index}" ng-repeat="photo in entity.GalleryMenu">
            <img src="{{ photo.Link }}" class="img-responsive center-block">
        </div>
    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Indietro</span>
  </a>
  <a class="right carousel-control" href="#slider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Avanti</span>
  </a>
</div>

</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="noprint" ng-include="'clausola.html'"></div>
<div ng-include="'firma.html'"></div>  

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-578f8509b8c1ce26"></script>  
</body>

</html>
